.App {
  text-align: center!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background: #03054d;
  color: white;
  z-index: 10000;
  border-bottom: 3px solid #03054d;
}

.artist-card {
  margin-left: 20em;
  margin-right: 20em;
}

.artist-details {
  margin-left: 20em;
  margin-right: 20em;
}

.rig-details {
  margin-left: 10em;
  margin-right: 10em;
}

.artist-rig {
  margin-left: 10em;
  margin-right: 10em;
}

.rig-design-details{
  margin-left: 10em;
  margin-right: 10em;
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.nav-bar {
  height:20px;
  font-size: 20px;
  font-family: 'RocknRoll+One', sans-serif;
  align-items: center;
  margin-bottom: 15px;
}

.nav-home, .nav-events {
  color: white;
  margin-right: 10px;
  padding-right: 70px;
  text-decoration: none;
}

.crud-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    /* height:50px;
  font-size: 20px;
  font-family: 'Hanken Grotesk', sans-serif; */
}

.footer-container {
  margin-top: -1em;
  /* width: 100%;
  position: center;
  height: 10em;
  margin-bottom: 2em; */
}

.github {
  background-color: green; /* Blue */
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 5px;
  padding-bottom: 5px;
}

.social {
  background-color: green; /* Blue */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-left: 5px;
  padding-bottom: 5px;
}

.repo {
  background-color: green; /* Blue */
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 5px;
  padding-bottom: 5px;
}

.home-container {
  margin-bottom: -3rem;
}

.gear-photo {
  width: 120px;
  height: 170px;
  text-align: center;
  margin-left: 2rem;
}

.gear-photo-2 {
  padding-left: 28rem;
}

.artist-rig-photo {
  margin-left: 5rem;
}

.rig-photo {
  padding-left: 15rem;
}

.rig-design-photo {
  padding-left: 6rem;
}

.artist-photo {
  padding-left: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 5em;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 8em;
  place-items: center;
}

.rig-buttons {
  background-color: blue; /* Blue */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
}

.btn-info {
  background-color: blue; /* Blue */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 5px;
}

.btn-danger {
  background-color: blue; /* Blue */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-left: 5px;
}

.btn-group {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-success {
  background-color: blue; /* Blue */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 5px;
  margin-top: 10px;
}

.card-container  {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.form-group {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 2rem;
}

.form-control {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(255, 106, 0);
}

/* selected link */
a:active {
  color: rgb(255, 106, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
