.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background: #03054d;
  color: white;
  z-index: 10000;
  border-bottom: 3px solid #03054d;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.nav-bar {
  height:20px;
  font-size: 20px;
  font-family: 'RocknRoll+One', sans-serif;
  align-items: center;
  margin-bottom: 15px;
}

.nav-home, .nav-events {
  color: white;
  margin-right: 10px;
  padding-right: 70px;
}

.crud-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:20px;
  font-size: 20px;
  font-family: 'Hanken Grotesk', sans-serif;
}


.gear-photo {
  width: 120px;
  height: 170px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 5em;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 8em;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
